<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lists"></ion-back-button>
    </ion-buttons>
    <ion-title>Liste vom {{ list?.startDate | date:'shortDate' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onMenuClicked($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-grid *ngIf="list" class="ion-no-padding">
    <ion-row class="title-row">
      <ion-col class="ion-text-end" size="1">#</ion-col>
      <ion-col *ngFor="let player of list.players" size="4">{{ player }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<!-- Hack to avoid multiple score calculations -->
<ng-container *ngIf="list?.scores as scores">
  <ion-content>
    <ion-grid id="main-grid" class="ion-no-padding">
      <ng-container *ngFor="let score of scores.slice(0, -1); let i = index; let isFirst = first">
        <ion-row *ngIf="isStartOfCycle(i) && !isFirst" class="separator-row"></ion-row>
        <app-round-row [roundNumber]="i" [isLast]="false" [wasSolo]="wasSolo(i)" [wasBockround]="wasBockround(i)"
          [players]="list.players" [points]="score"></app-round-row>
      </ng-container>
      <app-round-row *ngIf="!isGridOverflowing && scores.length > 0" [roundNumber]="scores.length - 1" [isLast]="true"
        [wasSolo]="wasSolo(scores.length - 1)" [wasBockround]="wasBockround(scores.length - 1)" [players]="list.players"
        [points]="scores[scores.length - 1]"></app-round-row>
    </ion-grid>

    <ion-fab *ngIf="!list.isFinished" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="onAddRound()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>

  <ion-footer *ngIf="isGridOverflowing && scores.length > 0">
    <ion-grid class="ion-no-padding" *ngIf="scores.length - 1 as i">
      <app-round-row [roundNumber]="i" [isLast]="true" [wasSolo]="wasSolo(i)" [wasBockround]="wasBockround(i)"
        [players]="list.players" [points]="scores[i]"></app-round-row>
    </ion-grid>
  </ion-footer>
</ng-container>