ion-grid {
  --ion-grid-columns: 17;
}

.title-row {
  text-align: center;
  padding: var(--ion-padding) var(--ion-padding) calc(var(--ion-padding) - 3px) var(--ion-padding);

  font-size: 18px;
  font-weight: bold;
  color: var(--ion-color-dark-contrast);
  background-color: var(--ion-color-dark-tint);

  ion-text {
    vertical-align: top;
  }
}

.title-icon {
  font-size: larger;
  margin-right: 0.2em;
}

.separator-row {
  height: 2px;
  background-color: var(--ion-color-dark-tint);
}

.no-rounds-message {
  color: #737373;
}
