<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lists"></ion-back-button>
    </ion-buttons>
    <ion-title>Liste vom {{ list?.startDate | date:'shortDate' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onMenuClicked($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="list" class="ion-no-padding">
    <ion-row class="title-row">
      <ion-col class="ion-text-end" size="1">#</ion-col>
      <ion-col *ngFor="let player of list.players" size="4">{{ player }}</ion-col>
    </ion-row>

    <ng-container *ngFor="let score of list.scores; let i = index; let isFirst = first; let isLast = last">
      <ion-row *ngIf="i !== 0 && i % 4 === 0 && !isLast" class="separator-row"></ion-row>
      <ion-row>
        <ion-col class="ion-no-padding">
          <ion-item-sliding>
            <ion-item lines="none" class="ion-no-padding" style="--min-height: 0; --inner-padding-end: 0;">
              <ion-grid class="ion-no-padding">
                <!-- TODO Consider Soli for separated rows -->
                <ion-row class="round-row" [class.even-round-row]="i % 2 === 0"
                  [class.last-round-row]="isLast && !isFirst">
                  <!-- TODO Display Solo and Bockrounds in number column -->
                  <ion-col class="ion-text-end" size="1">{{ i + 1 }}</ion-col>
                  <ng-container *ngFor="let player of list.players">
                    <ion-col class="ion-text-end round-points">{{ score[player].total }}</ion-col>
                    <ion-col class="ion-text-start delta-points">({{ score[player].delta}})</ion-col>
                  </ng-container>
                </ion-row>
              </ion-grid>
            </ion-item>
            <ion-item-options>
              <ion-item-option color="undefined" (click)="displayRoundDetails(i)">
                <ion-icon slot="icon-only" name="information-circle" color="secondary"></ion-icon>
              </ion-item-option>
              <ion-item-option color="undefined" (click)="editRound(i)">
                <ion-icon slot="icon-only" src="assets/icon/edit.svg" color="primary"></ion-icon>
              </ion-item-option>
              <ion-item-option color="undefined" (click)="deleteRound(i)">
                <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>

  <ion-fab *ngIf="!list?.isFinished" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onAddRound()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>