ion-card-header {
  display: inline-block;
  width: 100%;
  padding-inline-end: 28px;
}

ion-card-title {
  font-size: 20px;
}

ion-card-subtitle {
  font-size: 16px;
  text-transform: none;
  font-weight: normal;
}

.finished-list-scores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.finished-list-player {
  display: inline-flex;
  align-items: baseline;

  ion-icon {
    margin-right: 2px;
    font-size: 18px;
    align-self: center;
  }

  ion-text:first-of-type {
    margin-right: 0.33333em;

    + ion-text {
      font-size: 17px;
    }
  }
}

.chevron-forward {
  width: 20px;
  height: 20px;

  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
