.toggle-chip {
  font-size: 15px;
}

.name-input {
  padding: 0 17px 0 0;
  font-size: 20px;
}

.selected-chip {
  --background: #bde8c5;
  box-shadow: 0 0 3px 1px var(--ion-color-primary);
}

.error-item {
  --color: var(--ion-color-danger);
  --inner-padding-top: 5px;
  --min-height: 20px;
}