ion-row {
  padding: 5px var(--ion-padding);
}

.first-row {
  padding-top: 10px;
}

.even-row {
  background-color: var(--ion-color-light);
}

.last-row {
  padding-bottom: 10px;
}

.result-row {
  padding-top: 12px;
  padding-bottom: 12px;

  color: var(--ion-color-dark-contrast);
  background-color: var(--ion-color-dark-tint);

  font-size: 18px;
  font-weight: bold;
}

.intermediate-points {
  font-size: 18px;
  font-weight: bold;
}
