.gitignore
.angular.json
.browserslist
.capacitor.config.json
.ionic.config.json
.karma.conf.json
package*.json
tsconfig*.json
tslint.json

node_modules/

dist/
tmp/
app/**/*.js
app/**/*.js.map

e2e/*.js
e2e/*.map
