.point-label {
  font-size: 16px;
  text-align: center;
  min-width: 30px;
}

ion-select {
  max-width: 70%;
}

.party-announcement-container {
  padding: 4px 14px;
}

app-party-announcement {
  width: 100%;
}

.re-announcement {
  padding-top: 14px;
}

ion-chip {
  font-size: 16px;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

ion-chip > ion-text {
  width: 100%;
}

ion-col > ion-label {
  text-align: left;
  margin: auto;
}

.column-chip {
  padding: 0 4px;
}

.padded-row {
  padding-top: 4px;
  padding-bottom: 4px;
}

.top-row {
  padding-top: 14px;
}

.invalid-chip {
  color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.87);
  box-shadow: 0 0 3px 1px var(--ion-color-danger);
}