<ion-card [button]="button">
  <ion-card-header>
    <ion-card-title class="ion-text-center">{{ ruleSet.name }}</ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-no-padding">
    <ion-grid class="main-content">
      <ion-row>
        <ion-col class="ion-text-center ion-no-padding">
          <ion-text *ngIf="ruleSet.config.losingPartyGetsNegatedScore">{{ 'losingPartyGetsNegatedScore' | message }}</ion-text>
          <br *ngIf="ruleSet.config.losingPartyGetsNegatedScore && ruleSet.config.soloWinsOnTie" />
          <ion-text *ngIf="ruleSet.config.soloWinsOnTie">{{ 'soloWinsOnTie' | message }}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="title-column ion-no-padding"
          ><strong>{{ 'announcementsShort' | message }}</strong></ion-col
        >
        <ion-col class="ion-no-padding">{{ ruleSet.config.announcementBehaviour | message }}</ion-col>
      </ion-row>
      <ion-row *ngIf="ruleSet.config.bonusScoreRules.length > 0">
        <ion-col class="title-column ion-no-padding">
          <strong>{{ 'bonusScoresFor' | message }}</strong>
          <ion-text *ngIf="ruleSet.config.bonusScoresOnSolo"> {{ 'bonusScoresOnSoloShort' | message }}</ion-text>
        </ion-col>
        <ion-col class="ion-no-padding">{{ ruleSet.config.bonusScoreRules | message }}</ion-col>
      </ion-row>
      <ion-row *ngIf="ruleSet.config.bockroundAfter.length > 0">
        <ion-col class="title-column ion-no-padding">
          <strong>{{ 'bockroundsAfter' | message }}</strong>
          <ion-text *ngIf="ruleSet.config.consecutiveBockroundsStack"> {{ 'consecutiveBockroundsStackShort' | message }}</ion-text>
        </ion-col>
        <ion-col class="ion-no-padding">{{ ruleSet.config.bockroundAfter | message }}</ion-col>
      </ion-row>
    </ion-grid>

    <ng-content></ng-content>
  </ion-card-content>
</ion-card>
