<ion-row>
  <ion-col class="ion-no-padding">
    <ion-item-sliding>
      <ion-item lines="none" class="ion-no-padding" style="--min-height: 0; --inner-padding-end: 0">
        <ion-grid class="ion-no-padding">
          <ion-row class="round-row" [class.even-round-row]="roundNumber % 2 === 0" [class.last-round-row]="isLast && roundNumber !== 0">
            <ion-col class="round-number-column" size="1">
              <ion-text *ngIf="wasSolo" class="round-number-ornament" [class.round-number-ornament-top]="wasBockround"> S </ion-text>
              <ion-text *ngIf="wasBockround" class="round-number-ornament" [class.round-number-ornament-bottom]="wasSolo"> B </ion-text>
              {{ roundNumber + 1 }}
            </ion-col>
            <ng-container *ngFor="let player of players">
              <ion-col class="ion-text-end round-points">{{ points[player].total }}</ion-col>
              <ion-col class="ion-text-start delta-points">({{ points[player].delta }})</ion-col>
            </ng-container>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item-options>
        <ion-item-option color="undefined" (click)="displayRoundDetails()">
          <ion-icon slot="icon-only" name="information-circle" color="secondary"></ion-icon>
        </ion-item-option>
        <ion-item-option *ngIf="!list.isFinished" color="undefined" (click)="editRound()">
          <ion-icon slot="icon-only" src="assets/icon/edit.svg" color="primary"></ion-icon>
        </ion-item-option>
        <ion-item-option *ngIf="!list.isFinished" color="undefined" (click)="deleteRound()">
          <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-col>
</ion-row>
