ion-card-header {
  padding: 10px;
}

ion-card-title {
  font-size: 20px;
}

.main-content {
  font-size: 16px;
  padding: 0px 10px 10px 10px;
}

.scores-row {
  font-weight: bold;
  padding-bottom: 5px;
}

.party-column {
  padding-right: 2.5px;
}

.score-column {
  padding-left: 2.5px;
}

.result-row {
  font-weight: bold;
  padding-top: 5px;
}
