<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Regelsätze</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <app-rule-set-card *ngFor="let ruleSet of ruleSets" [ruleSet]="ruleSet" style="width: 100%;"
          (click)="onCardClick(ruleSet)" button>
          <ion-grid class="ion-no-padding">

            <ion-row class="tight-row">
              <ion-col class="ion-text-center ion-no-padding">
                <ion-icon [name]="displayRuleSetDetail[ruleSet.name] ? 'chevron-up' : 'chevron-down'"
                  style="width: 20px; height: 20px;"></ion-icon>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="displayRuleSetDetail[ruleSet.name] && ruleSet.name === defaultRuleSetName">
              <ion-col class="ion-no-padding">
                <ion-button class="footer-button" expand="block" fill="clear" color="tertiary"
                  (click)="onButtonClick($event, 'copy', ruleSet)">
                  <ion-icon slot="start" name="copy"></ion-icon>Kopieren
                </ion-button>
              </ion-col>
              <ion-col class="ion-no-padding">
                <ion-button class="footer-button" expand="block" fill="clear" color="secondary"
                  (click)="onButtonClick($event, 'newList', ruleSet)">
                  <ion-icon slot="start" name="reader"></ion-icon>Neue Liste
                </ion-button>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="displayRuleSetDetail[ruleSet.name] && ruleSet.name !== defaultRuleSetName">
              <ion-col class="ion-no-padding">
                <ion-button class="footer-button" expand="block" fill="clear" color="danger"
                  (click)="onButtonClick($event, 'delete', ruleSet)">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col class="ion-no-padding">
                <ion-button class="footer-button" expand="block" fill="clear" color="tertiary"
                  (click)="onButtonClick($event, 'copy', ruleSet)">
                  <ion-icon slot="icon-only" name="copy"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col class="ion-no-padding">
                <ion-button class="footer-button" expand="block" fill="clear" color="primary"
                  (click)="onButtonClick($event, 'edit', ruleSet)">
                  <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col class="ion-no-padding">
                <ion-button class="footer-button" expand="block" fill="clear" color="secondary"
                  (click)="onButtonClick($event, 'newList', ruleSet)">
                  <ion-icon slot="icon-only" name="reader"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </app-rule-set-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="create">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>