<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col [class.first-column]="victoryAnnounced">
      <ion-chip (click)="toggleAnnouncement()" [class.selected-chip]="victoryAnnounced">
        <ion-text *ngIf="!victoryAnnounced">{{ messages.get('noAnnouncementBy', messages.get(party)) }}</ion-text>
        <ion-text *ngIf="victoryAnnounced">{{ messages.get('partyAnnounced', messages.get(party)) }}</ion-text>
      </ion-chip>
    </ion-col>
    <ion-col *ngIf="victoryAnnounced" [class.second-column]="victoryAnnounced">
      <ion-chip (click)="rotateThreshold()" [class.selected-chip]="threshold !== undefined">
        <ion-text>
          <ion-text *ngIf="threshold === undefined">{{ 'noAnnouncement' | message }}</ion-text>
          <ion-text *ngIf="threshold > 0">{{ threshold }} abgesagt</ion-text>
          <ion-text *ngIf="threshold === 0">{{ 'lessThan0Announced' | message }}</ion-text>
        </ion-text>
      </ion-chip>
    </ion-col>
  </ion-row>
</ion-grid>