<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-button>
              <ion-icon name="close" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
        <ion-title>
          Doppelkopf Listen
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list lines="none">
        <ion-menu-toggle>
          <ion-item routerLink="/lists" lines="full">
            <ion-icon name="reader-outline" slot="start"></ion-icon>
            <ion-label>Listen</ion-label>
          </ion-item>
          <ion-item routerLink="/rule-set">
            <ion-icon name="options-outline" slot="start"></ion-icon>
            <ion-label>Regeln</ion-label>
          </ion-item>
          <ion-item routerLink="/groups" button>
            <ion-icon name="people-outline" slot="start"></ion-icon>
            <ion-label>Gruppen</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>