<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Deine Listen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row *ngIf="activeLists.length > 0 || finishedLists.length > 0">
      <ion-col class="ion-no-padding">
        <ion-item-divider>
          <ion-text color="primary">
            <h2>Aktive Listen</h2>
          </ion-text>
        </ion-item-divider>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="activeLists.length === 0">
      <ion-col class="ion-padding-horizontal ion-text-center">
        <p class="ion-no-margin" [class]="finishedLists.length === 0 ? 'no-lists-message' : 'no-active-lists-message'">
          Keine {{ finishedLists.length > 0 ? 'aktiven' : '' }} Listen vorhanden
        </p>
        <ion-button class="ion-padding-horizontal" expand="block" strong routerLink="create">Neue Liste beginnen
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="activeLists.length > 0">
      <ion-col class="ion-no-padding">
        <app-game-list-card *ngFor="let list of activeLists" [list]="list"></app-game-list-card>
      </ion-col>
    </ion-row>

    <ng-container *ngIf="finishedLists.length > 0">
      <ion-row>
        <ion-col class="ion-no-padding">
          <ion-item-divider>
            <ion-text color="primary">
              <h2>Abgeschlossene Listen</h2>
            </ion-text>
          </ion-item-divider>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-no-padding">
          <app-game-list-card *ngFor="let list of finishedLists" [list]="list"></app-game-list-card>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="create">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>