<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-center">Runde {{ roundNumber + 1 }}</ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-no-padding">
    <ion-grid class="main-content">
      <ion-row class="scores-row">
        <ion-col class="ion-no-padding ion-text-end party-column">
          {{ 're' | message }}
        </ion-col>
        <ion-col class="ion-no-padding ion-text-start score-column">
          {{ round.roundData.points.re }}
        </ion-col>
        <ion-col class="ion-no-padding ion-text-end party-column">
          {{ 'contra' | message }}
        </ion-col>
        <ion-col class="ion-no-padding ion-text-start score-column">
          {{ round.roundData.points.contra }}
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let detail of round.result.details">
        <ion-col class="ion-no-padding">
          {{ detail.message | message }}
        </ion-col>
        <ion-col class="ion-no-padding ion-text-center" size="1" *ngIf="detail.delta">
          <ng-container *ngIf="detail.delta > 0">+</ng-container>{{ detail.delta }}
        </ion-col>
        <ion-col class="ion-no-padding ion-text-center" size="1" *ngIf="detail.factor">
          &times;{{ detail.factor }}
        </ion-col>
        <ion-col class="ion-no-padding ion-text-center" size="2">
          {{ detail.intermediatePoints }}
        </ion-col>
      </ion-row>
      <ion-row class="result-row">
        <ion-col class="ion-no-padding ion-text-center" offset="3" size="1">
          {{ 're' | message}}
        </ion-col>
        <ion-col class="ion-no-padding ion-text-center" size="2">
          {{ round.result.re }}
        </ion-col>
        <ion-col class="ion-no-padding ion-text-center" offset="1" size="3">
          {{ 'contra' | message}}
        </ion-col>
        <ion-col class="ion-no-padding ion-text-center" size="2">
          {{ round.result.contra }}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>